html, body {
    width:  100%;
    height: 100%;
    margin: 0;
}

button {
    width: 100%;
    background-color: #8bc34a;
    color: #ffffff;
    padding: 5px 10px;
}

button:disabled, button[disabled] {
    width: 100%;
    background-color: #cccccc;
    color: #666666;
}

#leftDiv {
    position: absolute;
    width:100%;
    margin-left:10px;
}

#finishButton {
    display: none;
}

#inkCanvas {
    position: absolute;
    border: 2px solid #CCC;
    touch-action:none;
}

.btn {
    width: 100px;
    display: inline-block;
    margin: 5px 0;
}

#controlBar {
    margin: 10px 0;
}

.spanContainer {
    background-color: #efefef;
}

#wordSpan {
    font-size: 16px;
    margin: auto;
}