button {
    width: 100px;
    border: 1px solid #0066cc;
    background-color: #0099cc;
    color: #ffffff;
    padding: 5px 10px;
}

button:hover {
    width: 100px;
    border: 1px solid #0099cc;
    background-color: #00aacc;
    color: #ffffff;
    padding: 5px 10px;
}

button:disabled, button[disabled] {
    width: 100px;
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

#leftDiv {
    position: absolute;
    width:64%;
    margin-left:10px;
}

#finishButton {
    display: none;
}

#inkCanvas {
    position: absolute;
    border: 2px solid #CCC;
    touch-action:none;
}