<!DOCTYPE html>
<html>

<head>
  <title>Cloud Ink Intelligence Basic Demo</title>
  <style>
    button {
      width: 100px;
      border: 1px solid #0066cc;
      background-color: #0099cc;
      color: #ffffff;
      padding: 5px 10px;
    }

    button:hover {
      width: 100px;
      border: 1px solid #0099cc;
      background-color: #00aacc;
      color: #ffffff;
      padding: 5px 10px;
    }

    button:disabled,
    button[disabled] {
      width: 100px;
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
    }
  </style>

  
</head>

<body onload="init()">
  <div id='bodyDiv'>
    <div id='leftDiv' style='position: absolute; width:64%; margin-left:10px;'>
      <div id='controlBar' style='height:40px;display: block'>
        <button id='clearButton'>Clear</button>
        <button id='recognizeButton'>Recognize</button>
        <button id='convertButton'>Convert</button>
        <select id="languageTags"></select>
      </div>
      <div id='visualContainer' style="height:710px" class='inkingArea'>
        <canvas id='inkCanvas' width="700" height="700"
          style='position: absolute; border:2px solid #CCC;touch-action:none;'></canvas>
      </div>
    </div>
    <div id='rightDiv' style='position: absolute; width:35%; left:800px;'>
      <div id='resultBar' style='height:40px'>
        <button id='requestButton'>Request</button>
        <button id='responseButton'>Response </button>
      </div>
      <textarea id='resultBox' readonly style="width:100%; height:800px; border:1px solid #CCC"></textarea>
    </div>
  </div>
</body>

</html>